build --javabase=@openjdk8u202_darwin_archive//:runtime
build --host_javabase=@openjdk8u202_darwin_archive//:runtime
build --java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8
build --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8
test --test_env=JAVA_HOME